@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.icon{
    border-radius: 100%;
}
.fa-heart{
    color: crimson;
}
.fa-heart:hover{
    color: red;
}

/* custom scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

html{
    scroll-behavior: smooth;
}

/* navbar styling */
.navbar {
    position: fixed;
    padding: 30px 0;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s ease;
    z-index: 999;
}

.navbar.sticky {
    padding: 15px 0;
    background: crimson;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson;
    transition: color 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li a{

    color: #fff;
    font-size: 21px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: whitesmoke;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

/* Hamburger Menu styling */
.menu-btn {
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
}

/* scroll up btn styling */
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 45px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    font-size: x-large;
    padding-top: 8px;
    color: #fff;
    z-index: 9999;
    border-radius: 7px;
    cursor:pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* Home section styling */
.home {
    display: flex;
    background: url('Images/banner.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {

    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* All Section Styling */

section{
    padding: 80px 0;
}

.about, .services, .skills, .teams, .contact, footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content, 
.services .serv-content, 
.skills .skills-content,
.contact .contact-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px; /* Changed this one*/
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 160px; /* Changed this one*/
    margin-top: 100px;  /* Changed this one*/
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 150px;
    background: #111;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

}

section .title::after {
    position: absolute;
    content: "who i am";
    font-size: 20px;
    background: #fff;
    padding: 5px;
    color: crimson;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}



/* About section styling */
.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 100%;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {

    text-align: justify;
    /* font-size: 20px; */
    line-height: 35px; /* Changed this one*/
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 50px;
    border-radius: 7px;
    border: 2px solid crimson;
    transition: all 0.3s ease;

}

.about .about-content .right a:hover{
    background: none;
    color: crimson;
}

/* Services Section Styling */

.services, .teams {
    background: #111;
    color: #fff;
}

.services .title::after, 
.teams .title::after{
    background: #111;
    content: "what i provide";
}
.services .title::before, 
.teams .title::before{
    background: #fff;
    width: 180px;
}
.services .serv-content .card {
    width: calc(33% - 50px); /* This means 33% width with 20px margin*/
    height: 500px;
    background: #222;
    text-align: center;
    border-radius: 7px;
    padding: 30px 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box{
    transform: scale(1.05);
}


.services .serv-content .card:hover{
    background: crimson;
}

.services .serv-content .card:hover i{
    color:#fff;
}

.services .serv-content .card i{
    color:crimson;
    font-size: 50px;
    transition: color 0.3s ease;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 10px;
}

.services .tech-stack .heading {
    color: crimson;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .heading{
    color: #111;
    font-size: 19px;
}


.services .web {
    padding-top: 50px;
}

.services .ps {
    padding-top: 60px;
}

.services .coding {
    padding-top: 50px;
}

/* Skills section styling */
.skills .title::after{
    content: "what i know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .left p .more {
    display:none;
    transition: all 10s;
}

.skills .skills-content .left a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 10px;
}

.skills .skills-content .right .info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

/* BARS */
.skills .skills-content .right .line .cpp{
    height: 100%;
    width: 90%;
    background: crimson;
}
.skills .skills-content .right .line .html{
    height: 100%;
    width: 85%;
    background: crimson;
}
.skills .skills-content .right .css{
    background: crimson;
    height: 100%;
    width: 75%;
}
.skills .skills-content .right .js{
    background: crimson;
    height: 100%;
    width: 80%;
}
.skills .skills-content .right .mysql{
    background: crimson;
    height: 100%;
    width: 80%;
}
.skills .skills-content .right .node{
    height: 100%;
    width: 70%;
    background: crimson;
}


/* bars animation */
.skills .skills-content .right .line .cpp.animate{
    animation: cpp-x 3s ease;
}

@keyframes cpp-x{
	0%{
		width:0%;
	}
	100%{
		width:90%;
	}
}
.skills .skills-content .right .line .html.animate{
    animation: html-x 3s ease;
}

@keyframes html-x{
	0%{
		width:0%;
	}
	100%{
		width:85%;
	}
}
.skills .skills-content .right .css.animate{
    animation: css-x 3s ease;
}

@keyframes css-x{
	0%{
		width:0%;
	}
	100%{
		width:75%;
	}
}
.skills .skills-content .right .js.animate{
    animation: js-x 3s ease;
}

@keyframes js-x{
	0%{
		width:0%;
	}
	100%{
		width:80%;
	}
}
.skills .skills-content .right .mysql.animate{
    animation: mysql-x 3s ease;
}

@keyframes mysql-x{
	0%{
		width:0%;
	}
	100%{
		width:80%;
	}
}
.skills .skills-content .right .node.animate{
    animation: node-x 3s ease;
}

@keyframes node-x{
	0%{
		width:0%;
	}
	100%{
		width:70%;
	}
}

/* .skills .skills-content .right .python{
    background: crimson;
    height: 100%;
    width: 90%;
}

.skills .skills-content .right .python.animate{
    animation: python-x 3s ease;
}

@keyframes python-x{
	0%{
		width:0%;
	}
	100%{
		width:90%;
	}
} */


/* teams section styling */
.teams .title::after{
    content: "who with me";
}

.teams { 
    padding-bottom: 250px;
}

.teams .carousel .card {
    background: #222;
    border-radius: 7px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover{
    background: crimson;
}

.teams .carousel .card:hover .box{
    transform: scale(1.05);
}

.teams .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px;
}

.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;

}

.teams .carousel .card:hover img{
    border-color: #fff;
}

/* Buildin css of owl-carousel2 that we can update */
.owl-dots{
    text-align: center;
    margin-top: 30px;
}

.owl-dot{
    width: 13px;
    height: 13px;
    outline: none!important;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}

/* Contact section styling */
.contact .max-width .title::after{
    content: "connect with me";
}

.contact .max-width .title::before{
    width: 200px;
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
} 
.contact .contact-content .left .text{
    margin-top: 50px;
}

.contact .contact-content .left p{
    text-align: justify;
    margin-bottom: 20px;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .left .row{
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .left .row .info{
    margin-left: 30px;
}

.contact .contact-content .left .row i{
    font-size: 25px;
    color: crimson;
    justify-self:self-start;

}

.contact .contact-content .row .info .head{
    font-weight: 500;
}

.contact .contact-content .row .info .sub-title {
    color: #333;
}

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .name {
    margin-right: 20px;
}

.contact .right form .textarea{
    height: 80px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 7px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 100%;
}

.contact .right form .button button{
    height: 100%;
    width: 100%;
    background-color: crimson;
    border: 2px solid crimson;
    border-radius: 7px;
    color: #fff;
    padding: 3px 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover{
    background: #fff;
    color: crimson;
}

.contact .right form .success {
    height: 47px;
    width: 100%;
}

.contact .right form .form-submit {
    height: 100%;
    width: 100%;
    background-color: #222;
    border-radius: 7px;
    color: #fff;
    margin-top: 20px;
    padding: 3px 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    transition: all 0.3s ease;
}

/* Footer section styling */
footer{
    background: #111;
    color: #fff;
    padding: 20px 23px;
}

footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer span .text {
    color: crimson;
}

footer .year {
    margin-bottom: 60px;
}

footer .icons {
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
}

footer .icons .button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: #333;
    border-radius: 50%;
    margin: 0 20px;
}
section .title::after{
    font-size: 17px;
}

footer .icons .button:hover{
    background: white;
    cursor: pointer;
}

footer .icons .button i{
    color: #fff;
}

footer .icons .button:hover .fa-instagram{
     color: crimson;
}

footer .icons .button:hover .fa-linkedin-in{
    color: #0C66C2;
}

footer .icons .button:hover .fa-twitter{
    color: #1D9BF0;
}

.swal-button{
    background: crimson !important;
    border: 2px solid crimson !important;
    color: #fff !important;
    outline: none !important;
    box-shadow: none !important;
}

.swal-button:hover{
    background: #fff !important;
    color: crimson !important;
}









/* Responsive Media query start */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1030px) {
    .home .max-width {
        margin-left: 0px;
    }
    .about .about-content .left img {
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

/* i-Pad / Tablet */
@media (max-width: 947px){

    /* navbar */
    .menu-btn i.active:before {
        transition: all 0.3s ease;
        content: "\f00d";
    }
    .menu-btn {
        display:block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        height:100vh;
        width: 100%;
        left:-100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.5s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0px;
        font-size: 25px;
    }
    .navbar.sticky .menu li a:hover {
        color: crimson;
        background: none;
    }

    /* Home Section */
    .home .home-content .text-2 {
        font-size: 70px;
    }
    
    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    /* About Section */
    .max-width {
        max-width: 800px;
    }

    .about .about-content .column{
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    /* Services Section */
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    /* Skills Section */
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 30px;
    }
}

/* Mobile */
@media (max-width: 690px){

    .max-width {
        padding: 0 27px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .services .serv-content .card, .skills .skills-content .column{
        width: 100%;
        margin: 30px auto;
    }
    .services .web,
    .services .coding,
    .services .ps
    {
        padding-top: 80px;
    }
}

@media (max-width: 500px) {

    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }

     /* Section heading */
    section .title::after{
        font-size: 17px;
    }
    /* section .contact .title::after{
        font-size: 17px;
    } */

    /* Scroll up btn */
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        align-items: center;
        justify-content: center;
    }
    footer span .text{
        text-align: center;
    }
}
/* Extra small screens */
@media (max-width : 326px){
    .max-width {
        padding: 0 23px;
    }
    section .title::after{
        font-size: 15px; 
    }
}
@media (max-width : 300px){
    .max-width {
        padding: 0 23px;
    }
    section .title::after{
        font-size: 15px; 
    }
}















